



%gridTemplate{
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr 3fr 3fr 3fr;
    grid-template-columns: repeat(12, 1fr);
    gap : 1em;
}

*{
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;

}
::-webkit-scrollbar{
    width: 11px; 
    background: linear-gradient(to bottom, #1b1a1a, #181717, #151414, #121111, #0e0d0d);
}

::-webkit-scrollbar:hover{
    width: 11px; 
}

::-webkit-scrollbar-thumb{
    border-radius: 6px;
    background: linear-gradient(transparent,rgb(195, 18, 207));
    transition: 1s;
}
::-webkit-scrollbar-thumb:hover{
    border-radius: 6px;
    background: linear-gradient(transparent,rgb(21, 170, 138));
}




body{
    margin: 0;
    padding: 0;
    display: grid;
    background-image: linear-gradient(to right bottom, #1b1a1a, #181717, #151414, #121111, #0e0d0d);
    perspective: 900px;
    width: 100%;
    overflow-x: hidden;
    
    & .first{
        & #c {
            position: absolute;
            width: 100vw;
            height: 100vh;
            z-index: -1;
            }
            & .diagram {
            width: 100%;
            height: 100%;
            }
            & .left {
            z-index: -1;
            grid-column: 8 / span 4;
            grid-row: 2 / span 4;
            }
            & .right {
                z-index: -1;
                grid-column: 2 / span 10;
                grid-row: 3 / span 6;
                width: 100%;
                height: auto;
                }
            @extend %gridTemplate;
        & .header{
            display: grid;
            grid-row: 1 / span 1;
            grid-column: 1 / -1;   

            & nav{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                font-weight: 500;
                background: transparent;

                & .logoContainer{
                    display: flex;
                    grid-column: 2 / span 1;
                    justify-content: center;
                    margin: .5em;
                    height: 100%;
                    & .logo{
                        color: #14CCA4;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                    }
                }
                & .ulContainer{
                    grid-column: 3 / span 1;
                    height: 100%;
                    max-height: 100%;
                
                    & #navigation{
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        height: 100%;
                        list-style-type: none;
                        margin: 0;
                        & #link{
                            margin-top: .2em;
                            margin-right: .5em;
                            color: #14CCA4;
                            & a{
                                cursor: pointer;
                            }
                        }
                    }
                }
            }             
        }

        & .titleCss{
            grid-column: 2/ span 2;
            grid-row: 2 / span 1;
            background-image: linear-gradient(to right bottom, #b80bc4, #c20acf, #cc08da, #a45eff, #617dff, #008fff, #00a7ff, #00b8e9, #00c4c8, #14cca4);   
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;      
        }
            & .css3d{
            grid-column: 2 / span 4;
            grid-row: 3 / span 1;
            backface-visibility: hidden;
        }                                           
        & .css3dImg{
            width: 100%;
            height: auto;
        }

        & .explication{
            grid-column: 8/ span 4;
            grid-row: 3 / span 4;
            color: #EE00FF;        
            display: flex;
            margin: 0;
        }
    }

    & .second{
        @extend %gridTemplate;

        & .titleDistortion{
            grid-column: 2/ span 2;
            grid-row: 2 / span 1;
            display: flex;
            justify-content: center;
            height: 100%;
            align-items: flex-end;   
            background-image: linear-gradient(to right bottom, #b80bc4, #c20acf, #cc08da, #d606e5, #e004f0, #a45eff, #617dff, #008fff, #00a7ff, #00b8e9, #00c4c8, #14cca4);            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;       
        }

        & .distortionExplication{
            grid-row: 3 / span 3;
            grid-column: 2 / span 4;
            color: #EE00FF;
        }
        
        & .reveal{
            opacity: 0;
        }

        & .reveal-visible{
            opacity: 1;
            transform: translateY(-3vw);
            transition: 2s cubic-bezier(.5, 0, 0, 1);
        }
        & .wrapper{
            grid-row: 3 / span 3;
            grid-column: 8 / span 4; 
            & :nth-child(1){
                width: 100% !important;
                height: auto !important;
                display: flex;
            }
        }
    }

}