
*{
    box-sizing: border-box;
}

html{
    width: 100vw;
    overflow-x: hidden;
}

body{
    margin: 0;
    padding: 0;
    display: grid;
    /* background-image: url(./assets/img/Canva\ -\ Orange\ Leaf\ on\ White\ Surface.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
    background: rgb(32, 31, 31);
    perspective: 900px;
    width: 100vw;

}


.first{
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr 3fr 3fr 3fr;
    grid-template-columns: repeat(12, 1fr);
    gap : 1em;
}

header{
    display: grid;
    grid-row: 1 / span 1;
    grid-column: 1 / -1;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-weight: 1000;
    background: transparent;
}



.ulContainer{
    grid-column: 3 / span 1;
    height: 100%;
    max-height: 100%;
}

#navigation{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
}

#link{
    margin-top: .5em;
    background-image: url(./assets/img/orange.jpg);
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;
}

.logoContainer{
    display: flex;
    grid-column: 2 / span 1;
    justify-content: center;
    margin: .5em;
}

.logo{
    background-image: url(./assets/img/Canva\ -\ Orange\ Leaf\ on\ White\ Surface.jpg);
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;
    display: flex;
    align-items: center;
}
.container{
    background: #000;
    height: 100vh;
}

.css3d{
    grid-column: 3 / span 4;
    grid-row: 3 / span 2;
    background: url(./assets/img/feuille.jpg);
    background-size: cover;
    backface-visibility: hidden;
}

.titleCss{
    grid-column: 6/ span 2;
    grid-row: 2 / span 1;
    display: flex;
    justify-content: center;
    color: #fff;
}
.explication{
    grid-column: 8/ span 3;
    grid-row: 3 / span 1;
    color: #fff;
}

.titleDistortion{
    grid-column: 6/ span 2;
    grid-row: 2 / span 1;
    display: flex;
    justify-content: center;
    color: #fff;
}

.second{
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr 3fr 3fr 3fr;
    grid-template-columns: repeat(12, 1fr);
    gap : 1em;
}




.wrapper{
    grid-row: 3 / span 3;
    grid-column: 8 / span 4;
}


.distortionExplication{
    grid-row: 3 / span 3;
    grid-column: 3 / span 3;
    color: #fff;
}


#c {
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    z-index: -1;
    position: fixed;
  }
  .diagram {
    display: inline-block;
    grid-column: 8/ span 4;
    grid-row: 3 / span 5;
  }
  .left {
    float: left;
    margin-right: .25em;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    z-index: -1;
  }
  .right {
    float: right;
    margin-left: .25em;
  }

